body {
  padding-top: 90px;
  width: 80%;
  margin: 0 auto;
  font-family: montserratlight, montserratregular, cabin, oswald, arial; }

nav {
  background-color: #fff;
  opacity: .9;
  color: #000; }
  nav a {
    color: #000;
    text-decoration: none; }

#hero-section {
  height: 600px; }

#about-section {
  height: 600px; }

#partner-section {
  height: 600px; }

.section-header {
  display: block;
  index: -1;
  margin-top: -50px;
  background-color: white;
  margin: 10px;
  border: 1px solid #000; }

.hr-text {
  line-height: 1em;
  position: relative;
  outline: 0;
  border: 0;
  color: black;
  text-align: center;
  height: 2.7em;
  opacity: .5; }
  .hr-text:before {
    content: '';
    background: linear-gradient(to right, transparent, #818078, transparent);
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 1px; }
  .hr-text:after {
    content: attr(data-content);
    position: relative;
    display: inline-block;
    color: black;
    font-size: 1.9em;
    padding: 0 .5em;
    line-height: 1.5em;
    color: #000;
    background-color: #fff; }

.carousel-item.active {
  display: block; }
